@page "/about"

<h1>About Me</h1>

<img src="/images/avatar.png" alt="Elliot Starks portrait" width="254" height="254" />

<p>My name is Elliot Starks and I'm a software developer - software engineer if I'm feeling fancy.</p>

@code {

}
