
:root {
    --sunburst-stroke-width: 5;
    --sunburst-circle-stroke-width: 5;
}

.landing-image {
    width: 100%;
}

.sunburst-circle {
    r: 0%;
    animation: ripple ease-in-out 2s forwards;
}

#sunburstCircle2 {
    animation-delay: 0.5s;
}

#sunburstCircle3 {
    animation-delay: 1s;
}

@keyframes ripple {
    from {
        r: 0%;
    }
    to {
        r: 45%;
    }
}

.sunburst-line {
    stroke: var(--color-primary);
    stroke-width: var(--sunburst-stroke-width);
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: draw ease-in-out 5s forwards;
}

@keyframes draw {
    from {
        stroke-dashoffset: 100%;
    }

    to {
        stroke-dashoffset: 0%;
    }
}