@page "/display-svgs" 

<style>
    .svg-display svg {
        fill: black;
        height: 10rem;
        width: 10rem;
    }
</style>

<h3>Display SVGs</h3>

<div class="svg-display">

    <svg><use xlink:href="#icon-asterisk"></use></svg>

    <svg><use xlink:href="#icon-plus"></use></svg>

    <svg><use xlink:href="#icon-question"></use></svg>

    <svg><use xlink:href="#icon-minus"></use></svg>

    <svg><use xlink:href="#icon-glass"></use></svg>

    <svg><use xlink:href="#icon-music"></use></svg>

    <svg><use xlink:href="#icon-search"></use></svg>

    <svg><use xlink:href="#icon-envelope-o"></use></svg>

    <svg><use xlink:href="#icon-heart"></use></svg>

    <svg><use xlink:href="#icon-star"></use></svg>

    <svg><use xlink:href="#icon-star-o"></use></svg>

    <svg><use xlink:href="#icon-user"></use></svg>

    <svg><use xlink:href="#icon-film"></use></svg>

    <svg><use xlink:href="#icon-th-large"></use></svg>

    <svg><use xlink:href="#icon-th"></use></svg>

    <svg><use xlink:href="#icon-th-list"></use></svg>

    <svg><use xlink:href="#icon-check"></use></svg>

    <svg><use xlink:href="#icon-close"></use></svg>

    <svg><use xlink:href="#icon-search-plus"></use></svg>

    <svg><use xlink:href="#icon-search-minus"></use></svg>

    <svg><use xlink:href="#icon-power-off"></use></svg>

    <svg><use xlink:href="#icon-signal"></use></svg>

    <svg><use xlink:href="#icon-cog"></use></svg>

    <svg><use xlink:href="#icon-trash-o"></use></svg>

    <svg><use xlink:href="#icon-home"></use></svg>

    <svg><use xlink:href="#icon-file-o"></use></svg>

    <svg><use xlink:href="#icon-clock-o"></use></svg>

    <svg><use xlink:href="#icon-road"></use></svg>

    <svg><use xlink:href="#icon-download"></use></svg>

    <svg><use xlink:href="#icon-arrow-circle-o-down"></use></svg>

    <svg><use xlink:href="#icon-arrow-circle-o-up"></use></svg>

    <svg><use xlink:href="#icon-inbox"></use></svg>

    <svg><use xlink:href="#icon-play-circle-o"></use></svg>

    <svg><use xlink:href="#icon-repeat"></use></svg>

    <svg><use xlink:href="#icon-refresh"></use></svg>

    <svg><use xlink:href="#icon-list-alt"></use></svg>

    <svg><use xlink:href="#icon-lock"></use></svg>

    <svg><use xlink:href="#icon-flag"></use></svg>

    <svg><use xlink:href="#icon-headphones"></use></svg>

    <svg><use xlink:href="#icon-volume-off"></use></svg>

    <svg><use xlink:href="#icon-volume-down"></use></svg>

    <svg><use xlink:href="#icon-volume-up"></use></svg>

    <svg><use xlink:href="#icon-qrcode"></use></svg>

    <svg><use xlink:href="#icon-barcode"></use></svg>

    <svg><use xlink:href="#icon-tag"></use></svg>

    <svg><use xlink:href="#icon-tags"></use></svg>

    <svg><use xlink:href="#icon-book"></use></svg>

    <svg><use xlink:href="#icon-bookmark"></use></svg>

    <svg><use xlink:href="#icon-print"></use></svg>

    <svg><use xlink:href="#icon-camera"></use></svg>

    <svg><use xlink:href="#icon-font"></use></svg>

    <svg><use xlink:href="#icon-bold"></use></svg>

    <svg><use xlink:href="#icon-italic"></use></svg>

    <svg><use xlink:href="#icon-text-height"></use></svg>

    <svg><use xlink:href="#icon-text-width"></use></svg>

    <svg><use xlink:href="#icon-align-left"></use></svg>

    <svg><use xlink:href="#icon-align-center"></use></svg>

    <svg><use xlink:href="#icon-align-right"></use></svg>

    <svg><use xlink:href="#icon-align-justify"></use></svg>

    <svg><use xlink:href="#icon-list"></use></svg>

    <svg><use xlink:href="#icon-dedent"></use></svg>

    <svg><use xlink:href="#icon-indent"></use></svg>

    <svg><use xlink:href="#icon-video-camera"></use></svg>

    <svg><use xlink:href="#icon-image"></use></svg>

    <svg><use xlink:href="#icon-pencil"></use></svg>

    <svg><use xlink:href="#icon-map-marker"></use></svg>

    <svg><use xlink:href="#icon-adjust"></use></svg>

    <svg><use xlink:href="#icon-tint"></use></svg>

    <svg><use xlink:href="#icon-edit"></use></svg>

    <svg><use xlink:href="#icon-share-square-o"></use></svg>

    <svg><use xlink:href="#icon-check-square-o"></use></svg>

    <svg><use xlink:href="#icon-arrows"></use></svg>

    <svg><use xlink:href="#icon-step-backward"></use></svg>

    <svg><use xlink:href="#icon-fast-backward"></use></svg>

    <svg><use xlink:href="#icon-backward"></use></svg>

    <svg><use xlink:href="#icon-play"></use></svg>

    <svg><use xlink:href="#icon-pause"></use></svg>

    <svg><use xlink:href="#icon-stop"></use></svg>

    <svg><use xlink:href="#icon-forward"></use></svg>

    <svg><use xlink:href="#icon-fast-forward"></use></svg>

    <svg><use xlink:href="#icon-step-forward"></use></svg>

    <svg><use xlink:href="#icon-eject"></use></svg>

    <svg><use xlink:href="#icon-chevron-left"></use></svg>

    <svg><use xlink:href="#icon-chevron-right"></use></svg>

    <svg><use xlink:href="#icon-plus-circle"></use></svg>

    <svg><use xlink:href="#icon-minus-circle"></use></svg>

    <svg><use xlink:href="#icon-times-circle"></use></svg>

    <svg><use xlink:href="#icon-check-circle"></use></svg>

    <svg><use xlink:href="#icon-question-circle"></use></svg>

    <svg><use xlink:href="#icon-info-circle"></use></svg>

    <svg><use xlink:href="#icon-crosshairs"></use></svg>

    <svg><use xlink:href="#icon-times-circle-o"></use></svg>

    <svg><use xlink:href="#icon-check-circle-o"></use></svg>

    <svg><use xlink:href="#icon-ban"></use></svg>

    <svg><use xlink:href="#icon-arrow-left"></use></svg>

    <svg><use xlink:href="#icon-arrow-right"></use></svg>

    <svg><use xlink:href="#icon-arrow-up"></use></svg>

    <svg><use xlink:href="#icon-arrow-down"></use></svg>

    <svg><use xlink:href="#icon-mail-forward"></use></svg>

    <svg><use xlink:href="#icon-expand"></use></svg>

    <svg><use xlink:href="#icon-compress"></use></svg>

    <svg><use xlink:href="#icon-exclamation-circle"></use></svg>

    <svg><use xlink:href="#icon-gift"></use></svg>

    <svg><use xlink:href="#icon-leaf"></use></svg>

    <svg><use xlink:href="#icon-fire"></use></svg>

    <svg><use xlink:href="#icon-eye"></use></svg>

    <svg><use xlink:href="#icon-eye-slash"></use></svg>

    <svg><use xlink:href="#icon-exclamation-triangle"></use></svg>

    <svg><use xlink:href="#icon-plane"></use></svg>

    <svg><use xlink:href="#icon-calendar"></use></svg>

    <svg><use xlink:href="#icon-random"></use></svg>

    <svg><use xlink:href="#icon-comment"></use></svg>

    <svg><use xlink:href="#icon-magnet"></use></svg>

    <svg><use xlink:href="#icon-chevron-up"></use></svg>

    <svg><use xlink:href="#icon-chevron-down"></use></svg>

    <svg><use xlink:href="#icon-retweet"></use></svg>

    <svg><use xlink:href="#icon-shopping-cart"></use></svg>

    <svg><use xlink:href="#icon-folder"></use></svg>

    <svg><use xlink:href="#icon-folder-open"></use></svg>

    <svg><use xlink:href="#icon-arrows-v"></use></svg>

    <svg><use xlink:href="#icon-arrows-h"></use></svg>

    <svg><use xlink:href="#icon-bar-chart"></use></svg>

    <svg><use xlink:href="#icon-twitter-square"></use></svg>

    <svg><use xlink:href="#icon-facebook-square"></use></svg>

    <svg><use xlink:href="#icon-camera-retro"></use></svg>

    <svg><use xlink:href="#icon-key"></use></svg>

    <svg><use xlink:href="#icon-cogs"></use></svg>

    <svg><use xlink:href="#icon-comments"></use></svg>

    <svg><use xlink:href="#icon-thumbs-o-up"></use></svg>

    <svg><use xlink:href="#icon-thumbs-o-down"></use></svg>

    <svg><use xlink:href="#icon-star-half"></use></svg>

    <svg><use xlink:href="#icon-heart-o"></use></svg>

    <svg><use xlink:href="#icon-sign-out"></use></svg>

    <svg><use xlink:href="#icon-linkedin-square"></use></svg>

    <svg><use xlink:href="#icon-thumb-tack"></use></svg>

    <svg><use xlink:href="#icon-external-link"></use></svg>

    <svg><use xlink:href="#icon-sign-in"></use></svg>

    <svg><use xlink:href="#icon-trophy"></use></svg>

    <svg><use xlink:href="#icon-github-square"></use></svg>

    <svg><use xlink:href="#icon-upload"></use></svg>

    <svg><use xlink:href="#icon-lemon-o"></use></svg>

    <svg><use xlink:href="#icon-phone"></use></svg>

    <svg><use xlink:href="#icon-square-o"></use></svg>

    <svg><use xlink:href="#icon-bookmark-o"></use></svg>

    <svg><use xlink:href="#icon-phone-square"></use></svg>

    <svg><use xlink:href="#icon-twitter"></use></svg>

    <svg><use xlink:href="#icon-facebook"></use></svg>

    <svg><use xlink:href="#icon-github"></use></svg>

    <svg><use xlink:href="#icon-unlock"></use></svg>

    <svg><use xlink:href="#icon-credit-card"></use></svg>

    <svg><use xlink:href="#icon-feed"></use></svg>

    <svg><use xlink:href="#icon-hdd-o"></use></svg>

    <svg><use xlink:href="#icon-bullhorn"></use></svg>

    <svg><use xlink:href="#icon-bell-o"></use></svg>

    <svg><use xlink:href="#icon-certificate"></use></svg>

    <svg><use xlink:href="#icon-hand-o-right"></use></svg>

    <svg><use xlink:href="#icon-hand-o-left"></use></svg>

    <svg><use xlink:href="#icon-hand-o-up"></use></svg>

    <svg><use xlink:href="#icon-hand-o-down"></use></svg>

    <svg><use xlink:href="#icon-arrow-circle-left"></use></svg>

    <svg><use xlink:href="#icon-arrow-circle-right"></use></svg>

    <svg><use xlink:href="#icon-arrow-circle-up"></use></svg>

    <svg><use xlink:href="#icon-arrow-circle-down"></use></svg>

    <svg><use xlink:href="#icon-globe"></use></svg>

    <svg><use xlink:href="#icon-wrench"></use></svg>

    <svg><use xlink:href="#icon-tasks"></use></svg>

    <svg><use xlink:href="#icon-filter"></use></svg>

    <svg><use xlink:href="#icon-briefcase"></use></svg>

    <svg><use xlink:href="#icon-arrows-alt"></use></svg>

    <svg><use xlink:href="#icon-group"></use></svg>

    <svg><use xlink:href="#icon-chain"></use></svg>

    <svg><use xlink:href="#icon-cloud"></use></svg>

    <svg><use xlink:href="#icon-flask"></use></svg>

    <svg><use xlink:href="#icon-cut"></use></svg>

    <svg><use xlink:href="#icon-copy"></use></svg>

    <svg><use xlink:href="#icon-paperclip"></use></svg>

    <svg><use xlink:href="#icon-floppy-o"></use></svg>

    <svg><use xlink:href="#icon-square"></use></svg>

    <svg><use xlink:href="#icon-bars"></use></svg>

    <svg><use xlink:href="#icon-list-ul"></use></svg>

    <svg><use xlink:href="#icon-list-ol"></use></svg>

    <svg><use xlink:href="#icon-strikethrough"></use></svg>

    <svg><use xlink:href="#icon-underline"></use></svg>

    <svg><use xlink:href="#icon-table"></use></svg>

    <svg><use xlink:href="#icon-magic"></use></svg>

    <svg><use xlink:href="#icon-truck"></use></svg>

    <svg><use xlink:href="#icon-pinterest"></use></svg>

    <svg><use xlink:href="#icon-pinterest-square"></use></svg>

    <svg><use xlink:href="#icon-google-plus-square"></use></svg>

    <svg><use xlink:href="#icon-google-plus"></use></svg>

    <svg><use xlink:href="#icon-money"></use></svg>

    <svg><use xlink:href="#icon-caret-down"></use></svg>

    <svg><use xlink:href="#icon-caret-up"></use></svg>

    <svg><use xlink:href="#icon-caret-left"></use></svg>

    <svg><use xlink:href="#icon-caret-right"></use></svg>

    <svg><use xlink:href="#icon-columns"></use></svg>

    <svg><use xlink:href="#icon-sort"></use></svg>

    <svg><use xlink:href="#icon-sort-desc"></use></svg>

    <svg><use xlink:href="#icon-sort-asc"></use></svg>

    <svg><use xlink:href="#icon-envelope"></use></svg>

    <svg><use xlink:href="#icon-linkedin"></use></svg>

    <svg><use xlink:href="#icon-rotate-left"></use></svg>

    <svg><use xlink:href="#icon-gavel"></use></svg>

    <svg><use xlink:href="#icon-dashboard"></use></svg>

    <svg><use xlink:href="#icon-comment-o"></use></svg>

    <svg><use xlink:href="#icon-comments-o"></use></svg>

    <svg><use xlink:href="#icon-bolt"></use></svg>

    <svg><use xlink:href="#icon-sitemap"></use></svg>

    <svg><use xlink:href="#icon-umbrella"></use></svg>

    <svg><use xlink:href="#icon-clipboard"></use></svg>

    <svg><use xlink:href="#icon-lightbulb-o"></use></svg>

    <svg><use xlink:href="#icon-exchange"></use></svg>

    <svg><use xlink:href="#icon-cloud-download"></use></svg>

    <svg><use xlink:href="#icon-cloud-upload"></use></svg>

    <svg><use xlink:href="#icon-user-md"></use></svg>

    <svg><use xlink:href="#icon-stethoscope"></use></svg>

    <svg><use xlink:href="#icon-suitcase"></use></svg>

    <svg><use xlink:href="#icon-bell"></use></svg>

    <svg><use xlink:href="#icon-coffee"></use></svg>

    <svg><use xlink:href="#icon-cutlery"></use></svg>

    <svg><use xlink:href="#icon-file-text-o"></use></svg>

    <svg><use xlink:href="#icon-building-o"></use></svg>

    <svg><use xlink:href="#icon-hospital-o"></use></svg>

    <svg><use xlink:href="#icon-ambulance"></use></svg>

    <svg><use xlink:href="#icon-medkit"></use></svg>

    <svg><use xlink:href="#icon-fighter-jet"></use></svg>

    <svg><use xlink:href="#icon-beer"></use></svg>

    <svg><use xlink:href="#icon-h-square"></use></svg>

    <svg><use xlink:href="#icon-plus-square"></use></svg>

    <svg><use xlink:href="#icon-angle-double-left"></use></svg>

    <svg><use xlink:href="#icon-angle-double-right"></use></svg>

    <svg><use xlink:href="#icon-angle-double-up"></use></svg>

    <svg><use xlink:href="#icon-angle-double-down"></use></svg>

    <svg><use xlink:href="#icon-angle-left"></use></svg>

    <svg><use xlink:href="#icon-angle-right"></use></svg>

    <svg><use xlink:href="#icon-angle-up"></use></svg>

    <svg><use xlink:href="#icon-angle-down"></use></svg>

    <svg><use xlink:href="#icon-desktop"></use></svg>

    <svg><use xlink:href="#icon-laptop"></use></svg>

    <svg><use xlink:href="#icon-tablet"></use></svg>

    <svg><use xlink:href="#icon-mobile"></use></svg>

    <svg><use xlink:href="#icon-circle-o"></use></svg>

    <svg><use xlink:href="#icon-quote-left"></use></svg>

    <svg><use xlink:href="#icon-quote-right"></use></svg>

    <svg><use xlink:href="#icon-spinner"></use></svg>

    <svg><use xlink:href="#icon-circle"></use></svg>

    <svg><use xlink:href="#icon-mail-reply"></use></svg>

    <svg><use xlink:href="#icon-github-alt"></use></svg>

    <svg><use xlink:href="#icon-folder-o"></use></svg>

    <svg><use xlink:href="#icon-folder-open-o"></use></svg>

    <svg><use xlink:href="#icon-smile-o"></use></svg>

    <svg><use xlink:href="#icon-frown-o"></use></svg>

    <svg><use xlink:href="#icon-meh-o"></use></svg>

    <svg><use xlink:href="#icon-gamepad"></use></svg>

    <svg><use xlink:href="#icon-keyboard-o"></use></svg>

    <svg><use xlink:href="#icon-flag-o"></use></svg>

    <svg><use xlink:href="#icon-flag-checkered"></use></svg>

    <svg><use xlink:href="#icon-terminal"></use></svg>

    <svg><use xlink:href="#icon-code"></use></svg>

    <svg><use xlink:href="#icon-mail-reply-all"></use></svg>

    <svg><use xlink:href="#icon-star-half-empty"></use></svg>

    <svg><use xlink:href="#icon-location-arrow"></use></svg>

    <svg><use xlink:href="#icon-crop"></use></svg>

    <svg><use xlink:href="#icon-code-fork"></use></svg>

    <svg><use xlink:href="#icon-chain-broken"></use></svg>

    <svg><use xlink:href="#icon-info"></use></svg>

    <svg><use xlink:href="#icon-exclamation"></use></svg>

    <svg><use xlink:href="#icon-superscript"></use></svg>

    <svg><use xlink:href="#icon-subscript"></use></svg>

    <svg><use xlink:href="#icon-eraser"></use></svg>

    <svg><use xlink:href="#icon-puzzle-piece"></use></svg>

    <svg><use xlink:href="#icon-microphone"></use></svg>

    <svg><use xlink:href="#icon-microphone-slash"></use></svg>

    <svg><use xlink:href="#icon-shield"></use></svg>

    <svg><use xlink:href="#icon-calendar-o"></use></svg>

    <svg><use xlink:href="#icon-fire-extinguisher"></use></svg>

    <svg><use xlink:href="#icon-rocket"></use></svg>

    <svg><use xlink:href="#icon-maxcdn"></use></svg>

    <svg><use xlink:href="#icon-chevron-circle-left"></use></svg>

    <svg><use xlink:href="#icon-chevron-circle-right"></use></svg>

    <svg><use xlink:href="#icon-chevron-circle-up"></use></svg>

    <svg><use xlink:href="#icon-chevron-circle-down"></use></svg>

    <svg><use xlink:href="#icon-html5"></use></svg>

    <svg><use xlink:href="#icon-css3"></use></svg>

    <svg><use xlink:href="#icon-anchor"></use></svg>

    <svg><use xlink:href="#icon-unlock-alt"></use></svg>

    <svg><use xlink:href="#icon-bullseye"></use></svg>

    <svg><use xlink:href="#icon-ellipsis-h"></use></svg>

    <svg><use xlink:href="#icon-ellipsis-v"></use></svg>

    <svg><use xlink:href="#icon-rss-square"></use></svg>

    <svg><use xlink:href="#icon-play-circle"></use></svg>

    <svg><use xlink:href="#icon-ticket"></use></svg>

    <svg><use xlink:href="#icon-minus-square"></use></svg>

    <svg><use xlink:href="#icon-minus-square-o"></use></svg>

    <svg><use xlink:href="#icon-level-up"></use></svg>

    <svg><use xlink:href="#icon-level-down"></use></svg>

    <svg><use xlink:href="#icon-check-square"></use></svg>

    <svg><use xlink:href="#icon-pencil-square"></use></svg>

    <svg><use xlink:href="#icon-external-link-square"></use></svg>

    <svg><use xlink:href="#icon-share-square"></use></svg>

    <svg><use xlink:href="#icon-compass"></use></svg>

    <svg><use xlink:href="#icon-caret-square-o-down"></use></svg>

    <svg><use xlink:href="#icon-caret-square-o-up"></use></svg>

    <svg><use xlink:href="#icon-caret-square-o-right"></use></svg>

    <svg><use xlink:href="#icon-eur"></use></svg>

    <svg><use xlink:href="#icon-gbp"></use></svg>

    <svg><use xlink:href="#icon-dollar"></use></svg>

    <svg><use xlink:href="#icon-inr"></use></svg>

    <svg><use xlink:href="#icon-cny"></use></svg>

    <svg><use xlink:href="#icon-rouble"></use></svg>

    <svg><use xlink:href="#icon-krw"></use></svg>

    <svg><use xlink:href="#icon-bitcoin"></use></svg>

    <svg><use xlink:href="#icon-file"></use></svg>

    <svg><use xlink:href="#icon-file-text"></use></svg>

    <svg><use xlink:href="#icon-sort-alpha-asc"></use></svg>

    <svg><use xlink:href="#icon-sort-alpha-desc"></use></svg>

    <svg><use xlink:href="#icon-sort-amount-asc"></use></svg>

    <svg><use xlink:href="#icon-sort-amount-desc"></use></svg>

    <svg><use xlink:href="#icon-sort-numeric-asc"></use></svg>

    <svg><use xlink:href="#icon-sort-numeric-desc"></use></svg>

    <svg><use xlink:href="#icon-thumbs-up"></use></svg>

    <svg><use xlink:href="#icon-thumbs-down"></use></svg>

    <svg><use xlink:href="#icon-youtube-square"></use></svg>

    <svg><use xlink:href="#icon-youtube"></use></svg>

    <svg><use xlink:href="#icon-xing"></use></svg>

    <svg><use xlink:href="#icon-xing-square"></use></svg>

    <svg><use xlink:href="#icon-youtube-play"></use></svg>

    <svg><use xlink:href="#icon-dropbox"></use></svg>

    <svg><use xlink:href="#icon-stack-overflow"></use></svg>

    <svg><use xlink:href="#icon-instagram"></use></svg>

    <svg><use xlink:href="#icon-flickr"></use></svg>

    <svg><use xlink:href="#icon-adn"></use></svg>

    <svg><use xlink:href="#icon-bitbucket"></use></svg>

    <svg><use xlink:href="#icon-bitbucket-square"></use></svg>

    <svg><use xlink:href="#icon-tumblr"></use></svg>

    <svg><use xlink:href="#icon-tumblr-square"></use></svg>

    <svg><use xlink:href="#icon-long-arrow-down"></use></svg>

    <svg><use xlink:href="#icon-long-arrow-up"></use></svg>

    <svg><use xlink:href="#icon-long-arrow-left"></use></svg>

    <svg><use xlink:href="#icon-long-arrow-right"></use></svg>

    <svg><use xlink:href="#icon-apple"></use></svg>

    <svg><use xlink:href="#icon-windows"></use></svg>

    <svg><use xlink:href="#icon-android"></use></svg>

    <svg><use xlink:href="#icon-linux"></use></svg>

    <svg><use xlink:href="#icon-dribbble"></use></svg>

    <svg><use xlink:href="#icon-skype"></use></svg>

    <svg><use xlink:href="#icon-foursquare"></use></svg>

    <svg><use xlink:href="#icon-trello"></use></svg>

    <svg><use xlink:href="#icon-female"></use></svg>

    <svg><use xlink:href="#icon-male"></use></svg>

    <svg><use xlink:href="#icon-gittip"></use></svg>

    <svg><use xlink:href="#icon-sun-o"></use></svg>

    <svg><use xlink:href="#icon-moon-o"></use></svg>

    <svg><use xlink:href="#icon-archive"></use></svg>

    <svg><use xlink:href="#icon-bug"></use></svg>

    <svg><use xlink:href="#icon-vk"></use></svg>

    <svg><use xlink:href="#icon-weibo"></use></svg>

    <svg><use xlink:href="#icon-renren"></use></svg>

    <svg><use xlink:href="#icon-pagelines"></use></svg>

    <svg><use xlink:href="#icon-stack-exchange"></use></svg>

    <svg><use xlink:href="#icon-arrow-circle-o-right"></use></svg>

    <svg><use xlink:href="#icon-arrow-circle-o-left"></use></svg>

    <svg><use xlink:href="#icon-caret-square-o-left"></use></svg>

    <svg><use xlink:href="#icon-dot-circle-o"></use></svg>

    <svg><use xlink:href="#icon-wheelchair"></use></svg>

    <svg><use xlink:href="#icon-vimeo-square"></use></svg>

    <svg><use xlink:href="#icon-try"></use></svg>

    <svg><use xlink:href="#icon-plus-square-o"></use></svg>

    <svg><use xlink:href="#icon-space-shuttle"></use></svg>

    <svg><use xlink:href="#icon-slack"></use></svg>

    <svg><use xlink:href="#icon-envelope-square"></use></svg>

    <svg><use xlink:href="#icon-wordpress"></use></svg>

    <svg><use xlink:href="#icon-openid"></use></svg>

    <svg><use xlink:href="#icon-bank"></use></svg>

    <svg><use xlink:href="#icon-graduation-cap"></use></svg>

    <svg><use xlink:href="#icon-yahoo"></use></svg>

    <svg><use xlink:href="#icon-google"></use></svg>

    <svg><use xlink:href="#icon-reddit"></use></svg>

    <svg><use xlink:href="#icon-reddit-square"></use></svg>

    <svg><use xlink:href="#icon-stumbleupon-circle"></use></svg>

    <svg><use xlink:href="#icon-stumbleupon"></use></svg>

    <svg><use xlink:href="#icon-delicious"></use></svg>

    <svg><use xlink:href="#icon-digg"></use></svg>

    <svg><use xlink:href="#icon-pied-piper-pp"></use></svg>

    <svg><use xlink:href="#icon-pied-piper-alt"></use></svg>

    <svg><use xlink:href="#icon-drupal"></use></svg>

    <svg><use xlink:href="#icon-joomla"></use></svg>

    <svg><use xlink:href="#icon-language"></use></svg>

    <svg><use xlink:href="#icon-fax"></use></svg>

    <svg><use xlink:href="#icon-building"></use></svg>

    <svg><use xlink:href="#icon-child"></use></svg>

    <svg><use xlink:href="#icon-paw"></use></svg>

    <svg><use xlink:href="#icon-spoon"></use></svg>

    <svg><use xlink:href="#icon-cube"></use></svg>

    <svg><use xlink:href="#icon-cubes"></use></svg>

    <svg><use xlink:href="#icon-behance"></use></svg>

    <svg><use xlink:href="#icon-behance-square"></use></svg>

    <svg><use xlink:href="#icon-steam"></use></svg>

    <svg><use xlink:href="#icon-steam-square"></use></svg>

    <svg><use xlink:href="#icon-recycle"></use></svg>

    <svg><use xlink:href="#icon-automobile"></use></svg>

    <svg><use xlink:href="#icon-cab"></use></svg>

    <svg><use xlink:href="#icon-tree"></use></svg>

    <svg><use xlink:href="#icon-spotify"></use></svg>

    <svg><use xlink:href="#icon-deviantart"></use></svg>

    <svg><use xlink:href="#icon-soundcloud"></use></svg>

    <svg><use xlink:href="#icon-database"></use></svg>

    <svg><use xlink:href="#icon-file-pdf-o"></use></svg>

    <svg><use xlink:href="#icon-file-word-o"></use></svg>

    <svg><use xlink:href="#icon-file-excel-o"></use></svg>

    <svg><use xlink:href="#icon-file-powerpoint-o"></use></svg>

    <svg><use xlink:href="#icon-file-image-o"></use></svg>

    <svg><use xlink:href="#icon-file-archive-o"></use></svg>

    <svg><use xlink:href="#icon-file-audio-o"></use></svg>

    <svg><use xlink:href="#icon-file-movie-o"></use></svg>

    <svg><use xlink:href="#icon-file-code-o"></use></svg>

    <svg><use xlink:href="#icon-vine"></use></svg>

    <svg><use xlink:href="#icon-codepen"></use></svg>

    <svg><use xlink:href="#icon-jsfiddle"></use></svg>

    <svg><use xlink:href="#icon-life-bouy"></use></svg>

    <svg><use xlink:href="#icon-circle-o-notch"></use></svg>

    <svg><use xlink:href="#icon-ra"></use></svg>

    <svg><use xlink:href="#icon-empire"></use></svg>

    <svg><use xlink:href="#icon-git-square"></use></svg>

    <svg><use xlink:href="#icon-git"></use></svg>

    <svg><use xlink:href="#icon-hacker-news"></use></svg>

    <svg><use xlink:href="#icon-tencent-weibo"></use></svg>

    <svg><use xlink:href="#icon-qq"></use></svg>

    <svg><use xlink:href="#icon-wechat"></use></svg>

    <svg><use xlink:href="#icon-paper-plane"></use></svg>

    <svg><use xlink:href="#icon-paper-plane-o"></use></svg>

    <svg><use xlink:href="#icon-history"></use></svg>

    <svg><use xlink:href="#icon-circle-thin"></use></svg>

    <svg><use xlink:href="#icon-header"></use></svg>

    <svg><use xlink:href="#icon-paragraph"></use></svg>

    <svg><use xlink:href="#icon-sliders"></use></svg>

    <svg><use xlink:href="#icon-share-alt"></use></svg>

    <svg><use xlink:href="#icon-share-alt-square"></use></svg>

    <svg><use xlink:href="#icon-bomb"></use></svg>

    <svg><use xlink:href="#icon-futbol-o"></use></svg>

    <svg><use xlink:href="#icon-tty"></use></svg>

    <svg><use xlink:href="#icon-binoculars"></use></svg>

    <svg><use xlink:href="#icon-plug"></use></svg>

    <svg><use xlink:href="#icon-slideshare"></use></svg>

    <svg><use xlink:href="#icon-twitch"></use></svg>

    <svg><use xlink:href="#icon-yelp"></use></svg>

    <svg><use xlink:href="#icon-newspaper-o"></use></svg>

    <svg><use xlink:href="#icon-wifi"></use></svg>

    <svg><use xlink:href="#icon-calculator"></use></svg>

    <svg><use xlink:href="#icon-paypal"></use></svg>

    <svg><use xlink:href="#icon-google-wallet"></use></svg>

    <svg><use xlink:href="#icon-cc-visa"></use></svg>

    <svg><use xlink:href="#icon-cc-mastercard"></use></svg>

    <svg><use xlink:href="#icon-cc-discover"></use></svg>

    <svg><use xlink:href="#icon-cc-amex"></use></svg>

    <svg><use xlink:href="#icon-cc-paypal"></use></svg>

    <svg><use xlink:href="#icon-cc-stripe"></use></svg>

    <svg><use xlink:href="#icon-bell-slash"></use></svg>

    <svg><use xlink:href="#icon-bell-slash-o"></use></svg>

    <svg><use xlink:href="#icon-trash"></use></svg>

    <svg><use xlink:href="#icon-copyright"></use></svg>

    <svg><use xlink:href="#icon-at"></use></svg>

    <svg><use xlink:href="#icon-eyedropper"></use></svg>

    <svg><use xlink:href="#icon-paint-brush"></use></svg>

    <svg><use xlink:href="#icon-birthday-cake"></use></svg>

    <svg><use xlink:href="#icon-area-chart"></use></svg>

    <svg><use xlink:href="#icon-pie-chart"></use></svg>

    <svg><use xlink:href="#icon-line-chart"></use></svg>

    <svg><use xlink:href="#icon-lastfm"></use></svg>

    <svg><use xlink:href="#icon-lastfm-square"></use></svg>

    <svg><use xlink:href="#icon-toggle-off"></use></svg>

    <svg><use xlink:href="#icon-toggle-on"></use></svg>

    <svg><use xlink:href="#icon-bicycle"></use></svg>

    <svg><use xlink:href="#icon-bus"></use></svg>

    <svg><use xlink:href="#icon-ioxhost"></use></svg>

    <svg><use xlink:href="#icon-angellist"></use></svg>

    <svg><use xlink:href="#icon-cc"></use></svg>

    <svg><use xlink:href="#icon-ils"></use></svg>

    <svg><use xlink:href="#icon-meanpath"></use></svg>

    <svg><use xlink:href="#icon-buysellads"></use></svg>

    <svg><use xlink:href="#icon-connectdevelop"></use></svg>

    <svg><use xlink:href="#icon-dashcube"></use></svg>

    <svg><use xlink:href="#icon-forumbee"></use></svg>

    <svg><use xlink:href="#icon-leanpub"></use></svg>

    <svg><use xlink:href="#icon-sellsy"></use></svg>

    <svg><use xlink:href="#icon-shirtsinbulk"></use></svg>

    <svg><use xlink:href="#icon-simplybuilt"></use></svg>

    <svg><use xlink:href="#icon-skyatlas"></use></svg>

    <svg><use xlink:href="#icon-cart-plus"></use></svg>

    <svg><use xlink:href="#icon-cart-arrow-down"></use></svg>

    <svg><use xlink:href="#icon-diamond"></use></svg>

    <svg><use xlink:href="#icon-ship"></use></svg>

    <svg><use xlink:href="#icon-user-secret"></use></svg>

    <svg><use xlink:href="#icon-motorcycle"></use></svg>

    <svg><use xlink:href="#icon-street-view"></use></svg>

    <svg><use xlink:href="#icon-heartbeat"></use></svg>

    <svg><use xlink:href="#icon-venus"></use></svg>

    <svg><use xlink:href="#icon-mars"></use></svg>

    <svg><use xlink:href="#icon-mercury"></use></svg>

    <svg><use xlink:href="#icon-intersex"></use></svg>

    <svg><use xlink:href="#icon-transgender-alt"></use></svg>

    <svg><use xlink:href="#icon-venus-double"></use></svg>

    <svg><use xlink:href="#icon-mars-double"></use></svg>

    <svg><use xlink:href="#icon-venus-mars"></use></svg>

    <svg><use xlink:href="#icon-mars-stroke"></use></svg>

    <svg><use xlink:href="#icon-mars-stroke-v"></use></svg>

    <svg><use xlink:href="#icon-mars-stroke-h"></use></svg>

    <svg><use xlink:href="#icon-neuter"></use></svg>

    <svg><use xlink:href="#icon-genderless"></use></svg>

    <svg><use xlink:href="#icon-facebook-official"></use></svg>

    <svg><use xlink:href="#icon-pinterest-p"></use></svg>

    <svg><use xlink:href="#icon-whatsapp"></use></svg>

    <svg><use xlink:href="#icon-server"></use></svg>

    <svg><use xlink:href="#icon-user-plus"></use></svg>

    <svg><use xlink:href="#icon-user-times"></use></svg>

    <svg><use xlink:href="#icon-bed"></use></svg>

    <svg><use xlink:href="#icon-viacoin"></use></svg>

    <svg><use xlink:href="#icon-train"></use></svg>

    <svg><use xlink:href="#icon-subway"></use></svg>

    <svg><use xlink:href="#icon-medium"></use></svg>

    <svg><use xlink:href="#icon-y-combinator"></use></svg>

    <svg><use xlink:href="#icon-optin-monster"></use></svg>

    <svg><use xlink:href="#icon-opencart"></use></svg>

    <svg><use xlink:href="#icon-expeditedssl"></use></svg>

    <svg><use xlink:href="#icon-battery"></use></svg>

    <svg><use xlink:href="#icon-battery-3"></use></svg>

    <svg><use xlink:href="#icon-battery-2"></use></svg>

    <svg><use xlink:href="#icon-battery-1"></use></svg>

    <svg><use xlink:href="#icon-battery-0"></use></svg>

    <svg><use xlink:href="#icon-mouse-pointer"></use></svg>

    <svg><use xlink:href="#icon-i-cursor"></use></svg>

    <svg><use xlink:href="#icon-object-group"></use></svg>

    <svg><use xlink:href="#icon-object-ungroup"></use></svg>

    <svg><use xlink:href="#icon-sticky-note"></use></svg>

    <svg><use xlink:href="#icon-sticky-note-o"></use></svg>

    <svg><use xlink:href="#icon-cc-jcb"></use></svg>

    <svg><use xlink:href="#icon-cc-diners-club"></use></svg>

    <svg><use xlink:href="#icon-clone"></use></svg>

    <svg><use xlink:href="#icon-balance-scale"></use></svg>

    <svg><use xlink:href="#icon-hourglass-o"></use></svg>

    <svg><use xlink:href="#icon-hourglass-1"></use></svg>

    <svg><use xlink:href="#icon-hourglass-2"></use></svg>

    <svg><use xlink:href="#icon-hourglass-3"></use></svg>

    <svg><use xlink:href="#icon-hourglass"></use></svg>

    <svg><use xlink:href="#icon-hand-grab-o"></use></svg>

    <svg><use xlink:href="#icon-hand-paper-o"></use></svg>

    <svg><use xlink:href="#icon-hand-scissors-o"></use></svg>

    <svg><use xlink:href="#icon-hand-lizard-o"></use></svg>

    <svg><use xlink:href="#icon-hand-spock-o"></use></svg>

    <svg><use xlink:href="#icon-hand-pointer-o"></use></svg>

    <svg><use xlink:href="#icon-hand-peace-o"></use></svg>

    <svg><use xlink:href="#icon-trademark"></use></svg>

    <svg><use xlink:href="#icon-registered"></use></svg>

    <svg><use xlink:href="#icon-creative-commons"></use></svg>

    <svg><use xlink:href="#icon-gg"></use></svg>

    <svg><use xlink:href="#icon-gg-circle"></use></svg>

    <svg><use xlink:href="#icon-tripadvisor"></use></svg>

    <svg><use xlink:href="#icon-odnoklassniki"></use></svg>

    <svg><use xlink:href="#icon-odnoklassniki-square"></use></svg>

    <svg><use xlink:href="#icon-get-pocket"></use></svg>

    <svg><use xlink:href="#icon-wikipedia-w"></use></svg>

    <svg><use xlink:href="#icon-safari"></use></svg>

    <svg><use xlink:href="#icon-chrome"></use></svg>

    <svg><use xlink:href="#icon-firefox"></use></svg>

    <svg><use xlink:href="#icon-opera"></use></svg>

    <svg><use xlink:href="#icon-internet-explorer"></use></svg>

    <svg><use xlink:href="#icon-television"></use></svg>

    <svg><use xlink:href="#icon-contao"></use></svg>

    <svg><use xlink:href="#icon-500px"></use></svg>

    <svg><use xlink:href="#icon-amazon"></use></svg>

    <svg><use xlink:href="#icon-calendar-plus-o"></use></svg>

    <svg><use xlink:href="#icon-calendar-minus-o"></use></svg>

    <svg><use xlink:href="#icon-calendar-times-o"></use></svg>

    <svg><use xlink:href="#icon-calendar-check-o"></use></svg>

    <svg><use xlink:href="#icon-industry"></use></svg>

    <svg><use xlink:href="#icon-map-pin"></use></svg>

    <svg><use xlink:href="#icon-map-signs"></use></svg>

    <svg><use xlink:href="#icon-map-o"></use></svg>

    <svg><use xlink:href="#icon-map"></use></svg>

    <svg><use xlink:href="#icon-commenting"></use></svg>

    <svg><use xlink:href="#icon-commenting-o"></use></svg>

    <svg><use xlink:href="#icon-houzz"></use></svg>

    <svg><use xlink:href="#icon-vimeo"></use></svg>

    <svg><use xlink:href="#icon-black-tie"></use></svg>

    <svg><use xlink:href="#icon-fonticons"></use></svg>

    <svg><use xlink:href="#icon-reddit-alien"></use></svg>

    <svg><use xlink:href="#icon-edge"></use></svg>

    <svg><use xlink:href="#icon-credit-card-alt"></use></svg>

    <svg><use xlink:href="#icon-codiepie"></use></svg>

    <svg><use xlink:href="#icon-modx"></use></svg>

    <svg><use xlink:href="#icon-fort-awesome"></use></svg>

    <svg><use xlink:href="#icon-usb"></use></svg>

    <svg><use xlink:href="#icon-product-hunt"></use></svg>

    <svg><use xlink:href="#icon-mixcloud"></use></svg>

    <svg><use xlink:href="#icon-scribd"></use></svg>

    <svg><use xlink:href="#icon-pause-circle"></use></svg>

    <svg><use xlink:href="#icon-pause-circle-o"></use></svg>

    <svg><use xlink:href="#icon-stop-circle"></use></svg>

    <svg><use xlink:href="#icon-stop-circle-o"></use></svg>

    <svg><use xlink:href="#icon-shopping-bag"></use></svg>

    <svg><use xlink:href="#icon-shopping-basket"></use></svg>

    <svg><use xlink:href="#icon-hashtag"></use></svg>

    <svg><use xlink:href="#icon-bluetooth"></use></svg>

    <svg><use xlink:href="#icon-bluetooth-b"></use></svg>

    <svg><use xlink:href="#icon-percent"></use></svg>

    <svg><use xlink:href="#icon-gitlab"></use></svg>

    <svg><use xlink:href="#icon-wpbeginner"></use></svg>

    <svg><use xlink:href="#icon-wpforms"></use></svg>

    <svg><use xlink:href="#icon-envira"></use></svg>

    <svg><use xlink:href="#icon-universal-access"></use></svg>

    <svg><use xlink:href="#icon-wheelchair-alt"></use></svg>

    <svg><use xlink:href="#icon-question-circle-o"></use></svg>

    <svg><use xlink:href="#icon-blind"></use></svg>

    <svg><use xlink:href="#icon-audio-description"></use></svg>

    <svg><use xlink:href="#icon-volume-control-phone"></use></svg>

    <svg><use xlink:href="#icon-braille"></use></svg>

    <svg><use xlink:href="#icon-assistive-listening-systems"></use></svg>

    <svg><use xlink:href="#icon-american-sign-language-interpreting"></use></svg>

    <svg><use xlink:href="#icon-deaf"></use></svg>

    <svg><use xlink:href="#icon-glide"></use></svg>

    <svg><use xlink:href="#icon-glide-g"></use></svg>

    <svg><use xlink:href="#icon-sign-language"></use></svg>

    <svg><use xlink:href="#icon-low-vision"></use></svg>

    <svg><use xlink:href="#icon-viadeo"></use></svg>

    <svg><use xlink:href="#icon-viadeo-square"></use></svg>

    <svg><use xlink:href="#icon-snapchat"></use></svg>

    <svg><use xlink:href="#icon-snapchat-ghost"></use></svg>

    <svg><use xlink:href="#icon-snapchat-square"></use></svg>

    <svg><use xlink:href="#icon-pied-piper"></use></svg>

    <svg><use xlink:href="#icon-first-order"></use></svg>

    <svg><use xlink:href="#icon-yoast"></use></svg>

    <svg><use xlink:href="#icon-themeisle"></use></svg>

    <svg><use xlink:href="#icon-google-plus-circle"></use></svg>

    <svg><use xlink:href="#icon-fa"></use></svg>

    <svg><use xlink:href="#icon-handshake-o"></use></svg>

    <svg><use xlink:href="#icon-envelope-open"></use></svg>

    <svg><use xlink:href="#icon-envelope-open-o"></use></svg>

    <svg><use xlink:href="#icon-linode"></use></svg>

    <svg><use xlink:href="#icon-address-book"></use></svg>

    <svg><use xlink:href="#icon-address-book-o"></use></svg>

    <svg><use xlink:href="#icon-address-card"></use></svg>

    <svg><use xlink:href="#icon-address-card-o"></use></svg>

    <svg><use xlink:href="#icon-user-circle"></use></svg>

    <svg><use xlink:href="#icon-user-circle-o"></use></svg>

    <svg><use xlink:href="#icon-user-o"></use></svg>

    <svg><use xlink:href="#icon-id-badge"></use></svg>

    <svg><use xlink:href="#icon-drivers-license"></use></svg>

    <svg><use xlink:href="#icon-drivers-license-o"></use></svg>

    <svg><use xlink:href="#icon-quora"></use></svg>

    <svg><use xlink:href="#icon-free-code-camp"></use></svg>

    <svg><use xlink:href="#icon-telegram"></use></svg>

    <svg><use xlink:href="#icon-thermometer"></use></svg>

    <svg><use xlink:href="#icon-thermometer-3"></use></svg>

    <svg><use xlink:href="#icon-thermometer-2"></use></svg>

    <svg><use xlink:href="#icon-thermometer-1"></use></svg>

    <svg><use xlink:href="#icon-thermometer-0"></use></svg>

    <svg><use xlink:href="#icon-shower"></use></svg>

    <svg><use xlink:href="#icon-bath"></use></svg>

    <svg><use xlink:href="#icon-podcast"></use></svg>

    <svg><use xlink:href="#icon-window-maximize"></use></svg>

    <svg><use xlink:href="#icon-window-minimize"></use></svg>

    <svg><use xlink:href="#icon-window-restore"></use></svg>

    <svg><use xlink:href="#icon-times-rectangle"></use></svg>

    <svg><use xlink:href="#icon-times-rectangle-o"></use></svg>

    <svg><use xlink:href="#icon-bandcamp"></use></svg>

    <svg><use xlink:href="#icon-grav"></use></svg>

    <svg><use xlink:href="#icon-etsy"></use></svg>

    <svg><use xlink:href="#icon-imdb"></use></svg>

    <svg><use xlink:href="#icon-ravelry"></use></svg>

    <svg><use xlink:href="#icon-eercast"></use></svg>

    <svg><use xlink:href="#icon-microchip"></use></svg>

    <svg><use xlink:href="#icon-snowflake-o"></use></svg>

    <svg><use xlink:href="#icon-superpowers"></use></svg>

    <svg><use xlink:href="#icon-wpexplorer"></use></svg>

    <svg><use xlink:href="#icon-meetup"></use></svg>

</div>

@code {

}
