@page "/"

<div class="container">
    <div class="row">
        <svg class="landing-image" viewBox="-200 -200 400 400">
            <circle class="sunburst-circle" cx="0" cy="0" r="130" stroke="var(--color-secondary-1)" stroke-width="var(--sunburst-circle-stroke-width)" fill="var(--color-secondary-2)" />
            <circle class="sunburst-circle" cx="0" cy="0" r="120" stroke="var(--color-background-grey)" stroke-width="var(--sunburst-circle-stroke-width)" fill="var(--color-background-grey)" />
            <circle class="sunburst-circle" cx="0" cy="0" r="100" stroke="var(--color-secondary-1)" stroke-width="var(--sunburst-circle-stroke-width)" fill="var(--color-secondary-2)" />
            <line class="sunburst-line" x1="0" y1="0" x2="0" y2="-200" />
            <line class="sunburst-line" x1="0" y1="0" x2="200" y2="-200" />
            <line class="sunburst-line" x1="0" y1="0" x2="200" y2="0" />
            <line class="sunburst-line" x1="0" y1="0" x2="200" y2="200" />
            <line class="sunburst-line" x1="0" y1="0" x2="0" y2="200" />
            <line class="sunburst-line" x1="0" y1="0" x2="-200" y2="200" />
            <line class="sunburst-line" x1="0" y1="0" x2="-200" y2="-200" />
            <line class="sunburst-line" x1="0" y1="0" x2="-200" y2="0" />
        </svg>
    </div>
</div>
