@page "/"

<div class="container">
    <div class="row">
        <svg class="landing-image" viewBox="0 0 400 400">
            <defs>
                <path id="circlePath" d="M 75,200
                                         a 100,100 0 0,1 250,0" />
            </defs>

            <circle class="sunburst-circle" id="sunburstCircle1" cx="200" cy="200" r="150" fill="var(--color-secondary-2)" />
            <circle class="sunburst-circle" id="sunburstCircle2" cx="200" cy="200" r="150" fill="var(--color-background-grey)" />
            <circle class="sunburst-circle" id="sunburstCircle3" cx="200" cy="200" r="150" fill="var(--color-secondary-1)" />

            <g>
                <use xlink:href="#circlePath" fill="none" />
                <text font-size="2em" fill="var(--color-background-grey)">
                    <textPath xlink:href="#circlePath" text-anchor="middle" startOffset="50%">Welcome to the homepage!</textPath>
                </text>
            </g>
            @*<line class="sunburst-line" x1="0" y1="0" x2="0" y2="-200" />
        <line class="sunburst-line" x1="0" y1="0" x2="200" y2="-200" />
        <line class="sunburst-line" x1="0" y1="0" x2="200" y2="0" />
        <line class="sunburst-line" x1="0" y1="0" x2="200" y2="200" />
        <line class="sunburst-line" x1="0" y1="0" x2="0" y2="200" />
        <line class="sunburst-line" x1="0" y1="0" x2="-200" y2="200" />
        <line class="sunburst-line" x1="0" y1="0" x2="-200" y2="-200" />
        <line class="sunburst-line" x1="0" y1="0" x2="-200" y2="0" />*@
        </svg>
    </div>
</div>
